version: 2
updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
      day: friday
      time: "08:00"
      timezone: Asia/Tokyo
    cooldown:
      default-days: 3
  - package-ecosystem: npm
    directory: /
    schedule:
      interval: weekly
      day: friday
      time: "08:00"
      timezone: Asia/Tokyo
    cooldown:
      default-days: 3
    groups:
      storybook:
        applies-to: version-updates
        patterns:
          - "@storybook/*"
          - "storybook"
      drizzle:
        applies-to: version-updates
        patterns:
          - "drizzle-*"
      eslint:
        applies-to: version-updates
        patterns:
          - "eslint"
          - "eslint-*"
          - "@typescript-eslint/*"
