name: Release
on:
  workflow_dispatch:
  schedule:
    # 毎朝 JST 9:00 (UTC 00:00) に実行
    - cron: '0 0 * * *'

env:
  TZ: "Asia/Tokyo"

jobs:
  call-migration-deploy:
    uses: ./.github/workflows/migration-deploy.yaml
  call-graphql-deploy:
    needs: call-migration-deploy
    uses: ./.github/workflows/graphql-deploy.yaml
