name: VRT (Mobile)
on:
  pull_request:
    types: [opened, synchronize, reopened]
    paths:
      - 'apps/mobile/**'
      - 'packages/**'
      - '.github/workflows/vrt-mobile.yaml'
  push:
    branches:
      - main
    paths:
      - 'apps/mobile/**'
      - 'packages/**'
      - '.github/workflows/vrt-mobile.yaml'
  workflow_dispatch:

jobs:
  run-ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          package_json_file: package.json
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: .node-version
          cache: 'pnpm'
          cache-dependency-path: '**/pnpm-lock.yaml'
      - name: Install Dependencies
        run: pnpm install --frozen-lockfile
      - name: Install Japanese and emoji fonts
        run: sudo apt-get install -y fonts-noto-cjk fonts-noto-color-emoji
      - name: Visual Regression Test (Mobile)
        run: pnpm --filter @curio/mobile vrt
