name: VRT Approve
on:
  workflow_dispatch:

jobs:
  approve:
    runs-on: ubuntu-latest
    if: github.ref_name != 'main'
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          package_json_file: package.json
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version-file: .node-version
          cache: 'pnpm'
          cache-dependency-path: '**/pnpm-lock.yaml'
      - name: Install Dependencies
        run: pnpm install --frozen-lockfile
      - name: Test
        run: |
          touch test.txt
          echo "Some changes" >> test.txt
      - uses: suzuki-shunsuke/commit-action@f28421acc277a6d6a9c1f94ea449076ad77dba67 # v0.1.0
        with:
          app_id: ${{ vars.CURIO_MACHINE_APP_ID }}
          app_private_key: ${{ secrets.CURIO_MACHINE_PRIVATE_KEY }}
